name: Release

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: write

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            target: x86_64-unknown-linux-gnu
            output: dg-linux
          - os: macos-latest
            target: x86_64-apple-darwin
            output: dg-macos-x86_64
          - os: macos-latest
            target: aarch64-apple-darwin
            output: dg-macos-aarch64
          - os: windows-latest
            target: x86_64-pc-windows-msvc
            output: dg-windows.exe

    steps:
      - name: Setup repo
        uses: actions/checkout@v4

      - name: Setup Deno
        uses: denoland/setup-deno@v2

      - name: Build binary
        run: |
          deno compile --allow-all --unstable-worker-options --output ${{ matrix.output }} --target ${{ matrix.target }} src/main.ts

      - name: Upload binary
        uses: softprops/action-gh-release@v1
        with:
          files: ${{ matrix.output }}
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
